extends defaults/layout.pug
include defaults/mixins.pug

block content
  .container
    .card__wrapper
      section.card__preview
        .card__preview--chip
          +addPicture('chip.png', 'card__preview--chip-img')
        .card__preview--logo
          +addPicture('visa.png', 'card__preview--visa-img')
        .card__preview--number.card__section
          each blockNum in [1, 2, 3, 4]
            .card__preview--number--block
              each digit in [1, 2, 3, 4]
                span.card__digit #
        .card__preview--holder.card__section
          label Card Holder
          .card__preview--holder--char AD SOYAD
        .card__preview--expires.card__section
          label Expires
          .card__preview--expires--box
            strong.card__previev--expires--box--month MM
            strong.card__previev--expires--box--month /
            strong.card__previev--expires--box--year YY

      section.card__preview--backside
        .card__preview--backside--stripe
        .card__preview--backside--cvv-container
          label.card__preview--cvv-label CVV
          .white-stripe
            span.card__preview--cvv-box 3231
        .card__preview--logo.back-logo
          +addPicture('visa.png', 'card__preview--visa-img')

    form.card__form(action="#")
      label(for="card-number") Card Number
      input.card__form--input#card-number(type="number")

      label(for="card-name") Card Name
      input.card__form--input#card-name(type="text" maxlength="20")

      .card__form--row
        .card__form--column
          label(for="expiration-month") Expiration Date
          .card__form--column--select-container
            select.card__form--select#expiration-month
              option(value="" disabled selected) Month
              each month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
                option= month

            select.card__form--select#expiration-year
              option(value="" disabled selected) Year
              each year in ['2025', '2026', '2027', '2028']
                option= year

        .card__form--column
          label(for="cvv") CVV
          input.card__form--input#cvv(type="number" placeholder="CVV" min="1" max="999")

      button.card__form--submit(type="submit") Submit