@import 'mixins.scss';

.fade-in {
    display: inline-block;
    opacity: 0;
    transform: translateY(-30px);
    animation: fallDown 0.2s ease-out forwards;
}
@keyframes fallDown {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rising-character {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
    animation: riseUp 0.15s ease-in forwards;
}
@keyframes riseUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromRightArc {
    0% {
        transform: translateX(20px) translateY(10px) rotate(10deg);
        opacity: 0;
    }
    60% {
        transform: translateX(8px) translateY(3px) rotate(5deg);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 1;
    }
}

.slide-from-right {
    display: inline-block;
    animation: slideFromRightArc 0.3s ease-out forwards;
    transform-origin: bottom right;
}

.moving-border {
    @include center-absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #aaa7b3;
    border-radius: 0.6rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  
    &.active {
      opacity: 1;
    }
  }