.card__preview--backside {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("/images/background.jpg");
	background-size: cover;
	border-radius: 2rem;
	color: white;
	width: 58rem;
	max-width: 58rem;
	height: 29rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	text-align: center;
	padding: 2rem 1rem;
	box-shadow: 8px 9px 100px -10px rgba(66, 68, 90, 1);
	z-index: 1;
	position: absolute;
	top: 5%;
	letter-spacing: 2px;
	&--stripe {
		position: absolute;
		top: 15%;
		width: 100%;
		height: 5rem;
		background: black;
	}
	&--logo {
		grid-area: 1 / 4 / 2 / 5;

		img {
			min-width: 40%;
			max-width: 60%;
		}
	}
	&--cvv-container {
		grid-area: 2 / 1 / 3 / 5;
		display: flex;
		flex-direction: column;
		font-size: 1.5rem;
		text-align: end;
		gap: 0.5rem;
		.white-stripe {
			color: black;
			background-color: white;
			height: 5rem;
			position: relative;
		}
		span {
			position: absolute;
			border-radius: 1rem;
			justify-self: center;
			color: black;
			top: 50%;
			left: 96%;
			transform: translate(-50%, -50%);
		}
	}
}
